<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>174671790301122</sid>
    <event-sheet>Eventos Menu</event-sheet>
    <size>
        <width>704</width>
        <height>704</height>
    </size>
    <margins>
        <horizontal>704</horizontal>
        <vertical>704</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Background" sid="586257270312254">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="BackgroundRoxo_1" uid="13">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>32</x>
                        <y>-64</y>
                        <z>0</z>
                        <width>32</width>
                        <height>32</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="BackgroundAzul_1" uid="650">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>32</x>
                        <y>-96</y>
                        <z>0</z>
                        <width>32</width>
                        <height>32</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="BaseBackgroundTeste" uid="651">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <effect-instances>
                        <effect-instance type="Bulge">
                            <parameters>
                                <radius>0.7</radius>
                                <scale>0.2</scale>
                            </parameters>
                        </effect-instance>
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>0</y>
                        <z>0</z>
                        <width>704</width>
                        <height>704</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects>
                <effect-type name="Bulge">
                    <effect id="bulge" />
                    <effect-instance type="Bulge">
                        <parameters>
                            <radius>0.7</radius>
                            <scale>0.2</scale>
                        </parameters>
                    </effect-instance>
                </effect-type>
                <effect-type name="Noise">
                    <effect id="noise" />
                    <effect-instance type="Noise">
                        <parameters>
                            <color>0.3</color>
                            <intensity>0.15</intensity>
                        </parameters>
                    </effect-instance>
                </effect-type>
                <effect-type name="ScanLines">
                    <effect id="scanlines" />
                    <effect-instance type="ScanLines">
                        <parameters>
                            <line-height>3</line-height>
                        </parameters>
                    </effect-instance>
                </effect-type>
            </effects>
        </layer>
        <layer name="Bordas" sid="257001975722547">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="BordaBackground" uid="655">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Solid">
                            <properties>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>648</y>
                        <z>0</z>
                        <width>704</width>
                        <height>56</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="BordaBackground" uid="654">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Solid">
                            <properties>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>0</y>
                        <z>0</z>
                        <width>704</width>
                        <height>56</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="BordaBackground" uid="656">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Solid">
                            <properties>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>56</y>
                        <z>0</z>
                        <width>56</width>
                        <height>592</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="BordaBackground" uid="657">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Solid">
                            <properties>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>648</x>
                        <y>56</y>
                        <z>0</z>
                        <width>56</width>
                        <height>592</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects>
                <effect-type name="Bulge">
                    <effect id="bulge" />
                    <effect-instance type="Bulge">
                        <parameters>
                            <radius>0.7</radius>
                            <scale>0.2</scale>
                        </parameters>
                    </effect-instance>
                </effect-type>
                <effect-type name="Noise">
                    <effect id="noise" />
                    <effect-instance type="Noise">
                        <parameters>
                            <color>0.3</color>
                            <intensity>0.15</intensity>
                        </parameters>
                    </effect-instance>
                </effect-type>
                <effect-type name="ScanLines">
                    <effect id="scanlines" />
                    <effect-instance type="ScanLines">
                        <parameters>
                            <line-height>3</line-height>
                        </parameters>
                    </effect-instance>
                </effect-type>
            </effects>
        </layer>
        <layer name="TextoTitulo" sid="280298116418784">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Texto1" uid="1292">
                    <properties>
                        <text>Ms. Taken</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-85.6,400,0</font>
                        <color>102,255,0</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>88</y>
                        <z>0</z>
                        <width>704</width>
                        <height>424</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects>
                <effect-type name="Bulge">
                    <effect id="bulge" />
                    <effect-instance type="Bulge">
                        <parameters>
                            <radius>0.7</radius>
                            <scale>0.2</scale>
                        </parameters>
                    </effect-instance>
                </effect-type>
                <effect-type name="GlowVertical">
                    <effect id="glowvertical" />
                    <effect-instance type="GlowVertical">
                        <parameters>
                            <intensity>0.6</intensity>
                        </parameters>
                    </effect-instance>
                </effect-type>
                <effect-type name="GlowHorizontal">
                    <effect id="glowhorizontal" />
                    <effect-instance type="GlowHorizontal">
                        <parameters>
                            <intensity>0.6</intensity>
                        </parameters>
                    </effect-instance>
                </effect-type>
                <effect-type name="Noise">
                    <effect id="noise" />
                    <effect-instance type="Noise">
                        <parameters>
                            <color>0.3</color>
                            <intensity>0.15</intensity>
                        </parameters>
                    </effect-instance>
                </effect-type>
                <effect-type name="ScanLines">
                    <effect id="scanlines" />
                    <effect-instance type="ScanLines">
                        <parameters>
                            <line-height>3</line-height>
                        </parameters>
                    </effect-instance>
                </effect-type>
            </effects>
        </layer>
        <layer name="TextoOpcoes" sid="359361674580523">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Texto2" uid="652">
                    <properties>
                        <text>VS. PC</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-34.4,400,0</font>
                        <color>153,255,0</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Center</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>184</x>
                        <y>504</y>
                        <z>0</z>
                        <width>272</width>
                        <height>112</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Texto2" uid="653">
                    <properties>
                        <text>VS. Amigo</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-34.4,400,0</font>
                        <color>153,255,0</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Center</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>520</x>
                        <y>504</y>
                        <z>0</z>
                        <width>272</width>
                        <height>112</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects>
                <effect-type name="Bulge">
                    <effect id="bulge" />
                    <effect-instance type="Bulge">
                        <parameters>
                            <radius>0.7</radius>
                            <scale>0</scale>
                        </parameters>
                    </effect-instance>
                </effect-type>
                <effect-type name="Noise">
                    <effect id="noise" />
                    <effect-instance type="Noise">
                        <parameters>
                            <color>0.3</color>
                            <intensity>0.15</intensity>
                        </parameters>
                    </effect-instance>
                </effect-type>
                <effect-type name="ScanLines">
                    <effect id="scanlines" />
                    <effect-instance type="ScanLines">
                        <parameters>
                            <line-height>3</line-height>
                        </parameters>
                    </effect-instance>
                </effect-type>
            </effects>
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
